*.DS_Store
*.swp
*~
*.bak
*.back

# ignore Gambas IDE files
DomotiGa3/.action
DomotiGa3/.public
DomotiGa3/.gambas
DomotiGa3/.settings
DomotiGa3/.list
DomotiGa3/.info
DomotiGa3/.startup
DomotiGa3/.lock
DomotiGa3/.lang/*.pot

# ignore Gambas IDE files
DomotiGaServer3/.action
DomotiGaServer3/.public
DomotiGaServer3/.gambas
DomotiGaServer3/.settings
DomotiGaServer3/.list
DomotiGaServer3/.info
DomotiGaServer3/.startup
DomotiGaServer3/.lock
DomotiGaServer3/.lang/*.pot

# ignore DomotiGa conf files
domotiga.conf
server-domotiga.conf

# ignore domozwave wrapper build files
wrappers/domozwave/DomoZWave.o
wrappers/domozwave/OZW_Log.txt
wrappers/domozwave/libdomozwave.so
wrappers/domozwave/open-zwave
wrappers/domozwave/zwcfg_*.xml
wrappers/domozwave/zwscene.xml

# ignore log files, but keep directory
logs/*
!logs/.gitkeep

# ignore rrd database files
rrd/*.rrd
