*.DS_Store
*.swp
*~
*.bak
*.back

wrappers/domozwave/DomoZWave.o
wrappers/domozwave/OZW_Log.txt
wrappers/domozwave/libdomozwave.so
wrappers/domozwave/open-zwave
wrappers/domozwave/zwcfg_*.xml
wrappers/domozwave/zwscene.xml

domotiga.conf
server-domotiga.conf


