
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name[en_US]=DomotiGa3
Exec=/home/ron/domotiga/DomotiGa3.gambas
Name=DomotiGa3
Icon=/home/ron/domotiga/DomotiGa3/domotiga.png
