
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name[en_US]=DomotiGa
Exec=~/domotiga/domotiga.gambas
Icon[en_US]=~/domotiga/icons/logo.png
Name=DomotiGa
Icon=~/domotiga/icons/logo.png
