[Desktop Entry]
Comment=
Encoding=UTF-8
Exec='/home/ron/domotiga/DomotiGaServer3.gambas'
Icon=/home/ron/domotiga/DomotiGaServer3/domotiga.png
Name=DomotiGaServer3
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
