[Desktop Entry]
Comment=
Encoding=UTF-8
Exec='/home/ron/domotiga/DomotiGaServer.gambas'
Icon=/home/ron/domotiga/DomotiGaServer/domotiga.png
Name=DomotiGaServer
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
