
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name[en_US]=Gambas3
Exec=gambas3
Icon[en_US]=/usr/share/app-install/icons/gambas3.png
Name=Gambas3
Icon=/usr/share/app-install/icons/gambas3.png
