<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.domotiga"
      android:versionCode="1" android:versionName="2.0.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        
<activity 
    android:label="@string/app_name" 
    android:name="MainActivity"
    android:theme="@style/CustomTheme">
 <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
</activity>
<activity android:name="AboutActivity" android:label="@string/about"
    android:theme="@style/CustomTheme"></activity>
<activity android:name="DeviceListActivity" android:label="Device List"
    android:theme="@style/CustomTheme"></activity>
<activity android:name="ParameterActivity" android:label="@string/parameters"
    android:theme="@style/CustomTheme"></activity>
<activity android:name="ImageActivity"></activity>
</application>
    <uses-sdk android:minSdkVersion="7" />


<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 