/*
  Css for widgets/tabs
*/
.column { width: 500px; float: left; padding-bottom: 100px; }
.portlet { height: 280px; width: 95%; margin: 0 1em 1em 0; }
.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.1em; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }

body
{
    left:0;
    right:0;
    padding:0;
    margin : 0;
    background-color: #efefef;
    font-family: ‘Arial Narrow’, sans-serif;
}

header
{
    background-color: white;
    background: url("../img/repeat.png");
    background-repeat: repeat-x;
    width: 100%;
    box-shadow: 0 4px 4px -2px #1c1a19;
    height: 90px;
    position: fixed;
    z-index: 50;
}

a{
    text-decoration:none;
    color:black;
}

#logo{
    margin: 10px 0px 10px 10px;
    display: inline-block;
    background-image: url('../img/ECELogo.png');
    float:left;
    width: 126px;
    height:70px;
}
#logoD{
    margin: 0px 0px 0px 50px;

    background-image: url('../img/domotiga.png');
    float:left;
    width: 92px;
    height:92px;
}

#header
{
    display: inline-block;
    margin-bottom: 0px;
}
 
.page
{
    width: 100%;
}

nav
{
    display: inline-block;
    text-align: center;
    float:right;
    padding-top: 30px;
}
 
nav ul
{
    list-style-type: none;
}
 
nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav h5
{
    margin:0;
}
 
nav a
{
    font-size: 1.3em;
    color: darkblue;
    text-decoration: none;
}
 
nav a > h5:hover
{
    color: darkslateblue;
    border-bottom: 3px solid darkslateblue;
}

nav ul > li > a > h5.active
{
    color: darkslateblue;
    border-bottom: 3px solid darkslateblue;
}

.content h2{
    border-bottom: 1px solid #eeeeee;
}

#sidebar{
    height: 100%;
    width:230px;
    background-color: white;
    position: fixed;
    margin-top: 90px;
    z-index: 2;
}

.sideBarLogo{
    float:left;
}

#menu, #menu2 ul{
    background: white;
    color: grey;
    padding: 0;
    text-align: left;
    cursor : pointer;
    border-bottom: solid 1px #eeeeee;
}

.submenu a{
    padding-left: 30px;
    color: grey;
    cursor :  pointer;
    width: 165px;
}

.submenu a:hover{
    color:white;
    text-decoration:none;
    background: grey;
}

.iconlist
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.iconlist li:hover{
    color:white;
    text-decoration:none;
    background: grey;
}

.iconlist li.active{
    color:white;
    text-decoration:none;
    background: grey;
}

li.weather
{
  background-image: url('../img/tabs/weather.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.weather:hover
{
  background-image: url('../img/tabs/weather.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.weather.active
{
  background-image: url('../img/tabs/weather.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.camera
{
  background-image: url('../img/tabs/camera.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.camera.active
{
  background-image: url('../img/tabs/camera.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.camera:hover
{
  background-image: url('../img/tabs/camera.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.captures
{
  background-image: url('../img/tabs/captures.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.captures:hover
{
  background-image: url('../img/tabs/captures.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.climate
{
  background-image: url('../img/tabs/climate.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.climate:hover
{
  background-image: url('../img/tabs/climate.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.control
{
  background-image: url('../img/tabs/control.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.control:hover
{
  background-image: url('../img/tabs/control.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.devices
{
  background-image: url('../img/tabs/devices.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.devices:hover
{
  background-image: url('../img/tabs/devices.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.graphs
{
  background-image: url('../img/tabs/graphs.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.graphs:hover
{
  background-image: url('../img/tabs/graphs.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.graphs.active
{
  background-image: url('../img/tabs/graphs.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.hvac
{
  background-image: url('../img/tabs/hvac.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.hvac:hover
{
  background-image: url('../img/tabs/hvac.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.hvac.active
{
  background-image: url('../img/tabs/hvac.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.events
{
  background-image: url('../img/tabs/events.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.events:hover
{
  background-image: url('../img/tabs/events.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.events.active
{
  background-image: url('../img/tabs/events.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.home
{
  background-image: url('../img/tabs/home.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.home:hover
{
  background-image: url('../img/tabs/home.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.home:active
{
  background-image: url('../img/tabs/home.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.email
{
  background-image: url('../img/tabs/email.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.email:hover
{
  background-image: url('../img/tabs/email.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.email.active
{
  background-image: url('../img/tabs/email.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.energy
{
  background-image: url('../img/tabs/energy.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.energy:hover
{   
  background-image: url('../img/tabs/energy.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}   
    
li.energy.active
{
  background-image: url('../img/tabs/energy.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.floorplan
{
  background-image: url('../img/tabs/floorplan.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.floorplan:hover
{   
  background-image: url('../img/tabs/floorplan.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}   
    
li.floorplan.active
{
  background-image: url('../img/tabs/floorplan.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.locations
{
  background-image: url('../img/tabs/locations.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.locations:hover
{   
  background-image: url('../img/tabs/locations.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}   
    
li.locations.active
{
  background-image: url('../img/tabs/locations.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.logs
{
  background-image: url('../img/tabs/logs.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.logs:hover
{   
  background-image: url('../img/tabs/logs.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}   
    
li.logs.active
{
  background-image: url('../img/tabs/logs.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.music
{
  background-image: url('../img/tabs/music.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.music:hover
{   
  background-image: url('../img/tabs/music.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}   
    
li.music.active
{
  background-image: url('../img/tabs/music.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.network
{
  background-image: url('../img/tabs/network.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.network:hover
{   
  background-image: url('../img/tabs/network.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}   
    
li.network.active
{
  background-image: url('../img/tabs/network.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.news
{
  background-image: url('../img/tabs/news.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.news:hover
{   
  background-image: url('../img/tabs/news.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}   
    
li.news.active
{
  background-image: url('../img/tabs/news.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.phone
{
  background-image: url('../img/tabs/phone.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.phone:hover
{   
  background-image: url('../img/tabs/phone.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}   
    
li.phone.active
{
  background-image: url('../img/tabs/phone.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.security
{
  background-image: url('../img/tabs/security.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.security:hover
{   
  background-image: url('../img/tabs/security.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}   
    
li.security.active
{
  background-image: url('../img/tabs/security.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.stock
{
  background-image: url('../img/tabs/stock.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.stock:hover
{   
  background-image: url('../img/tabs/stock.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}   
    
li.stock.active
{
  background-image: url('../img/tabs/stock.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.system
{
  background-image: url('../img/tabs/system.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.system:hover
{   
  background-image: url('../img/tabs/system.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}   
    
li.system.active
{
  background-image: url('../img/tabs/system.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.thermostat
{
  background-image: url('../img/tabs/thermostat.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.thermostat:hover
{   
  background-image: url('../img/tabs/thermostat.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}   
    
li.thermostat.active
{
  background-image: url('../img/tabs/email.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.tvguide
{
  background-image: url('../img/tabs/tvguide.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

li.tvguide:hover
{   
  background-image: url('../img/tabs/tvguide.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}   
    
li.tvguide.active
{
  background-image: url('../img/tabs/tvguide.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 70px;
  margin: .4em 0;
}

article, aside, aside a
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}
 
article
{
    width: 75%;;
    margin-left: 280px;
    margin-top: 120px;
    background-color: white;
    padding : 0;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

article .content
{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}
 
aside
{
    position: relative;
    width: 235px;
    background-color: opaque;
    box-shadow: 0px 2px 5px #1c1a19;
    z-index: -1;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

.center{
    text-align: center;
}

.widget{
    border: #cccccc 1px solid;
    box-shadow: 0 4px 4px -4px #1c1a19;
    width: 280px;
    height: 180px;
    float: left;
    background: white;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#WeatherPWidgets .widgetShift{
    margin-right: 50px;
    margin-top: 30px;
}

#WeatherPWidgets{
    margin-left: 15%;
    width: 800px;
    height: 500px;
    
}

#allWidgets{
    color: #363636;
    margin-bottom:  30px;
}

#allWidgets p{
    margin: 0;
    padding-left: 6px;
}

.widget h3{
    border-bottom:  #cccccc 1px solid;
    width: 280px;
    height: 20px;
    line-height: 10px;
    text-align: center;
}

.sun{
    background-image: url('../img/tiles/sun.png');
    width: 128px;
    height:128px;
    float: left;
    text-align: center;
}

.cloudy1{
    background-image: url('../img/img_meteo/cloudy1.png');
    width: 128px;
    height:128px;
    float: left;
}

.cloudy1night{
    background-image: url('../img/img_meteo/cloudy1night.png');
    width: 128px;
    height:128px;
    float: left;
}

.cloudy3{
    background-image: url('../img/img_meteo/cloudy3.png');
    width: 128px;
    height:128px;
    float: left;
}

.cloudy3night{
    background-image: url('../img/img_meteo/cloudy3night.png');
    width: 128px;
    height:128px;
    float: left;
}

.cloudy4{
    background-image: url('../img/img_meteo/cloudy4.png');
    width: 128px;
    height:128px;
    float: left;
}

.cloudy4night{
    background-image: url('../img/img_meteo/cloudy4night.png');
    width: 128px;
    height:128px;
    float: left;
}

.cloudy5{
    background-image: url('../img/img_meteo/cloudy5.png');
    width: 128px;
    height:128px;
    float: left;
}

.dunno{
    background-image: url('../img/img_meteo/dunno.png');
    width: 128px;
    height:128px;
    float: left;
}

.fog{
    background-image: url('../img/img_meteo/fog.png');
    width: 128px;
    height:128px;
    float: left;
}

.hail{
    background-image: url('../img/img_meteo/hail.png');
    width: 128px;
    height:128px;
    float: left;
}

.mist{
    background-image: url('../img/img_meteo/mist.png');
    width: 128px;
    height:128px;
    float: left;
}

.overcast{
    background-image: url('../img/img_meteo/cloudy1.png');
    width: 128px;
    height:128px;
    float: left;
}

.shower1{
    background-image: url('../img/img_meteo/shower1.png');
    width: 128px;
    height:128px;
    float: left;
}

.shower2{
    background-image: url('../img/img_meteo/shower2.png');
    width: 128px;
    height:128px;
    float: left;
}

.shower3{
    background-image: url('../img/img_meteo/shower3.png');
    width: 128px;
    height:128px;
    float: left;
}

.sleet{
    background-image: url('../img/img_meteo/sleet.png');
    width: 128px;
    height:128px;
    float: left;
}

.snow1{
    background-image: url('../img/img_meteo/snow1.png');
    width: 128px;
    height:128px;
    float: left;
}

.snow2{
    background-image: url('../img/img_meteo/snow2.png');
    width: 128px;
    height:128px;
    float: left;
}

.snow3{
    background-image: url('../img/img_meteo/snow3.png');
    width: 128px;
    height:128px;
    float: left;
}

.snow4{
    background-image: url('../img/img_meteo/snow4.png');
    width: 128px;
    height:128px;
    float: left;
}

.snow5{
    background-image: url('../img/img_meteo/snow5.png');
    width: 128px;
    height:128px;
    float: left;
}

.sunnynight{
    background-image: url('../img/img_meteo/sunnynight.png');
    width: 128px;
    height:128px;
    float: left;
}

.storm1{
    background-image: url('../img/img_meteo/storm1.png');
    width: 128px;
    height:128px;
    float: left;
}

.storm2{
    background-image: url('../img/img_meteo/storm2.png');
    width: 128px;
    height:128px;
    float: left;
}

.storm3{
    background-image: url('../img/img_meteo/storm3.png');
    width: 128px;
    height:128px;
    float: left;
}
.wind{
    background-image: url('../img/tiles/wind.png');
    width: 128px;
    height:128px;
    float: left;
}

.barometer{
    background-image: url('../img/tiles/barometer.png');
    width: 128px;
    height:128px;
    float: left;
}

.hydrology{
    background-image: url('../img/tiles/hydrology.png');
    width: 128px;
    height:128px;
    float: left;
}

aside .buttonGroup{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 230px;
}

.buttonGroup{
    text-align: right;
    margin-right: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.buttonGroup2{
    float:right;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.buttonGroup3{
    float:right;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#popBack{
    padding-top: 10px;
    float: left;
    padding-left: 10px;
    color: #2f96b4;
    font-style:italic;
}
#popEquipment{
    padding-top: 10px;
    float: left;
    padding-left: 10px;
    color: #2f96b4;
    font-style:italic;
}
#popMeteo{
    padding-top: 10px;
    float: left;
    padding-left: 10px;
    color: #2f96b4;
    font-style:italic;
}
#popGraphs{
    padding-top: 10px;
    float: left;
    padding-left: 10px;
    color: #2f96b4;
    font-style:italic;
}
#popEvent{
    padding-top: 10px;
    float: left;
    padding-left: 10px;
    color: #2f96b4;
    font-style:italic;
}
#popHeating{
    padding-top: 10px;
    float: left;
    padding-left: 10px;
    color: #2f96b4;
    font-style:italic;
}
#poptuileHeating{
    padding-top: 10px;
    float: left;
    padding-left: 10px;
    color: #2f96b4;
    font-style:italic;
}
#poptuileEvent{
    padding-top: 10px;
    float: left;
    padding-left: 10px;
    color: #2f96b4;
    font-style:italic;
}
#poptuileEquipment{
    padding-top: 10px;
    float: left;
    padding-left: 10px;
    color: #2f96b4;
    font-style:italic;
}

.showPop{
    display: inline-block;
}

.hidePop{
    display: none;
}


.toggle {  
    padding-top: 10px;  
 }  
 
 
.toggle .slider-frame {  
  position: relative;  
  display: block;  
  margin: 0;  
  padding: 0;  
  margin-left:3%;
  width: 85px;  
  height: 29px;  
  background-color: #404040;  
  background-repeat: no-repeat;  
  background-image: -webkit-gradient(linear, left top, left bottombottom, from(#2b2b2b), to(#404040));  
  background-image: -webkit-linear-gradient(#2b2b2b, #404040);  
  background-image: -moz-linear-gradient(#2b2b2b, #404040);  
  background-image: -o-linear-gradient(top, #2b2b2b, #404040);  
  background-image: -khtml-gradient(linear, left top, left bottombottom, from(#2b2b2b), to(#404040));  
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#2b2b2b', EndColorStr='#404040', GradientType=0);  
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#2b2b2b', EndColorStr='#404040', GradientType=0))";  
  border-top: 1px solid #333333;  
  border-right: 1px solid #333333;  
  border-bottom: 1px solid #666666;  
  border-left: 1px solid #333333;  
  -moz-border-radius: 5px;  
  border-radius: 5px;  
  -webkit-box-shadow: inset 0px 1px 8px 0 rgba(0, 0, 0, 0.25);  
  -moz-box-shadow: inset 0px 1px 8px 0 rgba(0, 0, 0, 0.25);  
  box-shadow: inset 0px 1px 8px 0 rgba(0, 0, 0, 0.25);  
}  

.toggle .slider-frame .slider-button {  
  display: block;  
  margin: 0;  
  padding: 0;  
  width: 43px;  
  height: 27px;  
  line-height: 27px;  
  background: #cd0a0a;  
  -moz-border-radius: 5px;  
  border-radius: 5px;  
  border: 1px solid #802420;  
  -webkit-transition: all 0.25s ease-in-out;  
  -moz-transition: all 0.25s ease-in-out;  
  transition: all 0.25s ease-in-out;  
  color: #fff;  
  font-family:Helvetica;  
  font-size:11px;  
  font-weight: bold;  
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);  
  text-align: center;  
  cursor: pointer;  
}  
.toggle .slider-frame .slider-button.on {  
  margin-left: 40px;  
  background: green;  
  border: 1px solid #356635;  
}  

.toggle .slider-frame .slider-button:before {  
  position: absolute;  
  display: block;  
  margin: 0;  
  padding: 0;  
  width: 43px;  
  height: 12px;  
  background: rgba(255, 255, 255, 0.25);  
  content: '';  
  -moz-border-radius: 15px;  
  border-radius: 15px;  
}

footer{
    position: relative;
    width: 75%;
    margin-left: 280px;
    margin-top: 10px;
    bottom:0;
    height: 30px;
    color:#666;
    font-size:12px;
    text-align: center;
}

footer a:hover{
    color:black;
}
